

@use '../custom' as *;
@use '../components/mixins' as *;

.fourth-section{
	margin-top: 3rem;
	margin-bottom: 3rem;
	.head{
	h1{
		text-transform: capitalize;
		font-size: 3.7rem;

	}
	p{

		font-family: 'Poppins';
		font-size: 1.3rem;
		display: inline-block;
		text-align: center;
	}
	}
	h2{
		text-transform: capitalize;
		font-weight: bold;
	}


}
.para{
	display: inline-block;
	font-size: 1rem;
	text-align: center;
}
.pp{
	padding-bottom: 3rem;
	padding-top: 1rem;
	text-align: center;
}